<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>BDYV-Best Downloader Youtube Video</title>
	<link rel="icon" type="image/png" sizes="16x16" href="images/logo.png">
	<link rel="stylesheet" type="text/css" href="/static/style.css">
	<script type="text/javascript" src="/static/index.js"></script>
</head>
<body>
	<div class="conteneur">
	<!--entete -->
	<header>
		<a href="acceuil.html" style="text-decoration: none;" class="logo">
			<p class="logo"><img src="/static/images/logo.png" class="logo"> Best Downloader Youtube Videos </p>
		</a>
		<div class="sommaire">
			<a href="#ancre1" class="sommaire">Téléchargeur vidéos Youtube</a>
			<a href="#ancre2" class="sommaire">Comment Téléchargez une vidéo Youtube ?</a>
			<a href="#ancre3" class="sommaire">Pourquoi choisir BDYV ?</a>
			<a href="#ancre4" class="sommaire">Contactez-moi</a>
		</div>
	</header>

	<!-- partie de telechargement -->
	<center><hr width="75%"></center><br>
	<fieldset>
		<h1 class="titre" id="ancre1">Téléchargeur vidéos Youtube</h1>
		<p>
			Téléchargez des vidéos Youtube <b>gratuitement</b>, facilement, et sous <b>tous les formats</b> disponibles avec <b>B</b>est <b>D</b>ownloader <b>Y</b>outube <b>V</b>ideo.
		</p>
		<form>
			<input name="url" id="saisie" class="saisie" type="text"  placeholder="collez le lien de votre video ici">
			<input onclick="getSTreams()" type="button" class="bouton" value="Télécharger">
		</form>  
		<div class="resolutionPopup" style="display: none;">
			<p class="resotexte" >selectionner la resolution</p>
			<div class="loadresolution"><button></button></div>
			<div class="videoresolution">
				
			</div>

		</div>

	</fieldset>
	<!-- petit tuto d'utilisation et information -->
	<h2 class="titre" id="ancre2" style="margin-top: 80px;">Comment Téléchargez une vidéo Youtube ?</h2>
	<p >Téléchargez vos vidéos facilement en deux étapes seulement</p>
	<div class="etape1">
		<center>
		<img src="/static/images/etape1.png" class="exemple">
		<img src="/static/images/etape2.png" class="exemple">
		<img src="/static/images/etape3.png" class="exemple">
		</center>
		<p><b>Etape 1 : </b> Copiez (sur Youtube) Collez (dans la zone de saisie) l'url de la vidéo puis cliquez sur le bouton "Télécharger"</p>
	</div>
	<div class="etape2">
		<center>
			<img src="/static/images/etape4.png" class="exemple">
			<img src="/static/images/etape5.png" class="exemple">
		</center>
		<p><b>Etape 2 : </b>Choisissez le format de sortie que vous souhaitez puis cliquez sur le bouton "Télécharger maintenant"</p>
	</div>
	<h2 class="titre" id="ancre3" style="margin-top: 80px;">Pourquoi choisir BDYV ?</h2>
	<p>Dans la grande panoplie de téléchargeur de vidéos youtube qui existe, BDYV ( Best Downloader Youtube Video ) se démarque par les particularités suivantes :</p>
	<div  >
		<center>
			<div class="offre">
				<img src="/static/images/gratuit.jpg"  class="service">
				<p class="service">100% gratuit : pas besoin d'avoir un compte ni d'avoir un abonnement ou quoi que ce soit d'autres le service est 100% gratuit</p>
			</div>
			<div class="offre">
				<img src="/static/images/illimite.png" class="service">
			<p class="service">Nombre de téléchargements est illimité : Téléchargez des vidéos Youtube autant que vous le souhaitez sans limite.<p]></p>
			</div>
			<div class="offre">
				<img src="/static/images/rapide.png" class="service">
				<p class="service">Rapide et facile à utilise : BDYV est le moyen le plus facile et rapide de telecharger des videos Youtube juste en deux etapes.</p>
			</div>
			<div class="offre" >
				<img src="/static/images/tous formats.jpg" class="service">
				<p class="service">Prise en charge de nombreux formats et résolutions vidéos : Vous pouvez télécharger des vidéos YouTube aux formats MP3, 3GP, MP4, WMA, M4A, FLV, WEBM et MO, etc.</p>
			</div>
		</center>
	</div>

	<h2 class="titre">Partenaires</h2>
		<p>Finga code</p>
	<br> <center><hr width="75%"></center>

	<!-- pieds de page -->
	<footer>
		<div class="contact" >
			<h3 class="titre" id="ancre4">Contactez-moi</h3>
			<p style="display: inline-block;">Email : wilfridwandji07@gmail.com</p>
			<p style="display: inline-block;">Telephone & Whatsapp : 6 55 72 64 84</p>
			<p>Droit d'auteur 2022 Kambou Wandji Prince Wilfrid - Toute reproduction interdite</p>
		</div>
		<div class="logo">
			<img src="/static/images/logo.png" style="width: 100%; height: 100%;">
		</div>
		
	</footer>
	</div>
</body>
</html>